<% layout('layouts/boilerplate') -%>


    <form action="/listings/<%= listings._id %>?_method=PUT" method="post">
        <div class="row mt-3">
            <div class="col col-md-8 offset-2">
                <h3>Edit the Listing</h3>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input type="text" name="listing[title]" value="<%= listings.title %>" placeholder="Edit your title"
                        class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="listing[description]" placeholder=""
                        class="form-control"><%= listings.description %></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input type="text" name="listing[image]" value="<%= listings.image %>"
                        placeholder="Edit your image URL" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input type="number" name="listing[price]" value="<%= listings.price %>" placeholder="Ex: 1200"
                            class="form-control">
                    </div>

                    <div class="mb-3 col-md-8">
                        <label class="form-label" for="country">Country</label>
                        <input type="text" name="listing[country]" value="<%= listings.country %>"
                            placeholder="Ex: India" class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input type="text" name="listing[location]" value="<%= listings.location %>"
                        placeholder="Ex: Hyderabad, Telangana" class="form-control">
                </div>

                <button class="btn btn-dark edit-btn mt-3"   >Edit Your Listing</button>
                <br><br>
            </div>
        </div>

    </form>